<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>SeachBus</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowBusServlet</display-name>
    <servlet-name>ShowBusServlet</servlet-name>
    <servlet-class>com.cwy.servlet.ShowBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBusServlet</servlet-name>
    <url-pattern>/ShowBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusModifyServlet</display-name>
    <servlet-name>BusModifyServlet</servlet-name>
    <servlet-class>com.cwy.servlet.BusModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusModifyServlet</servlet-name>
    <url-pattern>/BusModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSiteServlet</display-name>
    <servlet-name>ShowSiteServlet</servlet-name>
    <servlet-class>com.cwy.servlet.ShowSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSiteServlet</servlet-name>
    <url-pattern>/ShowSiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBusServlet</display-name>
    <servlet-name>AddBusServlet</servlet-name>
    <servlet-class>com.cwy.servlet.AddBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusServlet</servlet-name>
    <url-pattern>/AddBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSiteServlet</display-name>
    <servlet-name>AddSiteServlet</servlet-name>
    <servlet-class>com.cwy.servlet.AddSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSiteServlet</servlet-name>
    <url-pattern>/AddSiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelSiteServlet</display-name>
    <servlet-name>DelSiteServlet</servlet-name>
    <servlet-class>com.cwy.servlet.DelSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelSiteServlet</servlet-name>
    <url-pattern>/DelSiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cwy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>